

@{
    Layout = null;
}

<div>
    <h1>Identity Core</h1>
    <h4>Password Reset Code</h4>
    <p>Dear user, your password reset code is:</p>
    <h2>@Model.Token</h2>
    <a href="@Model.CallBackUrl">Password Reset</a>
</div>